*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html, body {
  font-family: "Inter";
}

#wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

mark {
  background-color: rgba(241, 0, 93, 0.363);
}

.custom-cursor {
  position: fixed;
  opacity: 1;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e5ff00;
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
  z-index: 1000;
}

.custom-cursor--link {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.block_title, .block_link {
  color: currentColor;
}

.block_link {
  text-decoration: none;
  -webkit-transition: letter-spacing 200ms ease;
  transition: letter-spacing 200ms ease;
}

.block_link:hover {
  letter-spacing: .3rem;
}

.navbar {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title link";
  max-width: 1280px;
  margin: 5vh auto;
  padding: 0 20px;
}

.heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  mix-blend-mode: difference;
}

.nav_links {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: link;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
}

.nav_links a {
  mix-blend-mode: difference;
}

.nav_links a {
  margin: 0 1.5rem 0 0;
}

@media screen and (max-width: 847px) {
  .navbar {
        grid-template-areas: "title" "link";
  }
  .nav_links, .heading {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.demo-1 {
  --blendmode-title:exclusion;
  --imgwidthmax: 300px;
  --aspect-ratio: 5/3;
  --size-title: 15vw;
  --overflow: 40px;
}

.page {
  display: -ms-grid;
  display: grid;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: 'grid';
  will-change: transform;
}

.bio {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: grid;
  font-size: 1.5rem;
}

.content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: grid;
  margin: 20vh 0 10vh;
}

.content--offset {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-gap: 30vh 10vw;
}

.content--full {
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.content--padded {
  padding: 0 10vw;
}

.content__item {
  --imgwidth: calc(var(--imgwidthmax) * var(--aspect-ratio));
  width: var(--imgwidth);
  max-width: 100%;
  position: relative;
  will-change: transform;
  margin-bottom: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.content__item--wide {
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.content__item--wide:nth-child(even) {
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
}

.content--center .content__item {
  margin: 0 auto 60vh;
}

.content__item--expand {
  width: 100%;
  -ms-grid-columns: minmax(0, var(--imgwidth)) 1fr;
      grid-template-columns: minmax(0, var(--imgwidth)) 1fr;
}

.content__item--expand:nth-child(even) {
  -ms-grid-columns: 1fr minmax(0, var(--imgwidth));
      grid-template-columns: 1fr minmax(0, var(--imgwidth));
}

.content--alternate .content__item {
  max-width: 90vw;
}

.content--offset .content__item {
  margin: 0 auto 15vh;
}

.content--offset .content__item:nth-child(even) {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: -20vh;
}

.content--alternate .content__item:nth-child(even) {
  margin-left: auto;
}

.content__item-imgwrap {
  position: relative;
  --imgwidth: 100%;
  margin: 0 auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
  overflow: hidden;
  width: var(--imgwidth);
  padding-bottom: calc(var(--imgwidth) / (var(--aspect-ratio)));
  will-change: transform;
}

.demo-2 .content__item-imgwrap {
  outline: 1px solid transparent;
}

.content__item--expand .content__item-imgwrap {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
}

.content__item--expand:nth-child(even) .content__item-imgwrap {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
  -ms-grid-column-align: end;
      justify-self: end;
}

.content__item-img {
  --overflow: 40px;
  height: calc(100% + (2 * var(--overflow)));
  top: calc( -1 * var(--overflow));
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: 50% 0%;
  will-change: transform;
  opacity: 0.8;
}

.content__item-img--t1 {
  --overflow: 60px;
}

.content__item-img--t2 {
  --overflow: 80px;
}

.content__item-img--t3 {
  --overflow: 120px;
}

.content__item-number {
  opacity: 0.05;
  font-family: "Space Mono";
  font-size: 25vw;
  position: absolute;
  top: -7vw;
  right: -10vw;
  line-height: 1;
}

.content__item:nth-child(even) .content__item-number {
  right: auto;
  left: -7vw;
}

.content__item-title {
  position: relative;
  font-size: 175px;
  padding: 0 3vw;
  font-family: "Space Mono";
  color: #181c24;
  margin: calc(var(--size-title) * -1/2) 0 0 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  line-height: 1;
  will-change: transform;
  mix-blend-mode: var(--blendmode-title);
}

.content--center .content__item-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
  margin: auto;
}

.content__item-title--layer {
  padding: 0;
  z-index: 10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  width: 100%;
  text-align: center;
}

.content__item-description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 3 / 3;
  width: 70%;
  position: relative;
  margin: 0;
  padding: 1rem 0 0 0;
}

.content--alternate .content__item-title,
.content__item--wide:nth-child(even) .content__item-description {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
  -ms-grid-column-align: start;
      justify-self: start;
}

.content--alternate .content__item:nth-child(even) .content__item-title,
.content__item--wide .content__item-description {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  -ms-grid-column-align: end;
      justify-self: end;
  width: auto;
}

.content__item--expand .content__item-description {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 0 2rem;
  width: 250px;
  font-size: 0.9rem;
}

.content__item--expand:nth-child(even) .content__item-description {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: right;
}

@media screen and (min-width: 53em) {
  .page--layout-1 {
    -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
        grid-template-areas: 'grid grid';
  }
  .page--layout-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'grid grid';
  }
}

@media screen and (max-width: 847px) {
  .content__item--expand .content__item-imgwrap,
  .content__item--expand:nth-child(even) .content__item-imgwrap {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 3 / 3;
  }
  .content__item--expand .content__item-description,
  .content__item--expand:nth-child(even) .content__item-description,
  .content__item--wide .content__item-description,
  .content__item--wide:nth-child(even) .content__item-description {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
    padding: 1rem 0;
    width: 100%;
    text-align: left;
  }
  .content__item--wide .content__item-description {
    padding: 1rem;
  }
  .content--alternate .content__item-title,
  .content--alternate .content__item:nth-child(even) .content__item-title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 4 / 2;
  }
  .nav__links {
    float: left;
  }
}
/*# sourceMappingURL=main.css.map */