.navbar{
    display: grid;
    grid-template-areas: "title link";
    max-width: 1280px;
    margin: 5vh auto;
}

.heading{
    grid-area: title;
    mix-blend-mode:difference;
}

.nav_links{
    grid-area: link;
    align-self: end;
    justify-self: end;

    a{
        mix-blend-mode:difference;
    }
}

// .nav{
//     grid-area: nav;
// }

// .nav--center {
// 	justify-self: center;
	
// }

.nav_links a {
    margin: 0 1.5rem 0 0;
    
}

@media screen and (max-width: 847px) {
    .navbar{
        grid-template-areas: "title" "link";
    }

    .nav_links, .heading{
        align-self: start;
        justify-self: center;
    }
}